<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TareaCRUD</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TareaCRUD.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="flex-wrapper">
        <nav>
            <div class="nav-wrapper container">
                <a asp-controller="Home" asp-action="Index" class="brand-logo">TareaCRUD</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                    <li><a asp-controller="Clientes" asp-action="Index">Clientes</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="page-footer">
            <div class="container">
                © 2025 - TareaCRUD
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
